<?xml version='1.0' encoding='utf-8'?>
<widget id="info.geometrixx.webviewapp" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Geometrixx</name>
    <description>
        Sample to illustrate the integration of managed web content with a native app
    </description>
    <author href="http://adobe.com">
        AEM Team
    </author>

    <content src="content/phonegap/geometrixx-webview/en.html" />

    <preference name="phonegap-version" value="3.6.0" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="handheld" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreen" value="screen" />

    <!-- File preferences -->
    <preference name="AndroidPersistentFileLocation" value="Internal" />


    <icon src="icon.png" />
    <access origin="*" />

    <!-- Platforms -->
    <gap:platform name="android" />

    <!-- Plugins -->
    <plugin name="cordova-plugin-file" spec="^2.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^1.0.0" />
    <plugin name="phonegap-plugin-contentsync" spec=">=1.1.3" />
    <plugin name="ADBMobile" spec="https://github.com/Adobe-Marketing-Cloud/mobile-services#0482f9cedf90c98a8d4b07219ece1933b2e46a60" />

</widget>
